#banner{
    border-radius: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.ytimg.com/vi/TDTijZcpjMo/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    color: #F8F5F0
  }

#title{
  font-size: 10vw;
  letter-spacing: 3px;
  text-shadow: 3px 2px #325D88;
}

#under-title{
  font-size: 20px;
}
