<div class="jumbotron" id="banner">
  <div class="container">
    <h1 class="text-center" id="title">Kitt-Ecommerce</h1>
    <p class="text-center" id="under-title">Les plus belles photos de chatons jamais vues</p>
  </div>
</div>
